:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark: hsl(229, 23%, 23%);
    --grayish-blue:hsl(227, 10%, 46%);
}
* {
    box-sizing: border-box;
    

}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    z-index: -1;
    margin: 0;
}

.container {
    display: grid;  
    place-items: center;
    height: 100vh;
    background-color: var(--dark-cyan);
    position: relative;
    overflow: hidden; 
    z-index: 1;
}

hr {
    background-color: hsl(0, 0%, 59%);
    height: 1px;
    border: 0;
}

.container .card {
    text-align: center;
    position: relative;
    width: 350px;
    height: fit-content;
    border-radius: 10px;
    background-color:white;
 

}
.container .svgs {
    position: relative;
    z-index: -1;
}
.container .svgs #top  {
    position: absolute;
    left: -45%;
    top: -100%;
    transform: translate(-70%, -70%);
   
}
.container .svgs #bottom  {
    position: absolute;
    right: 50;
    transform: translate(0%, 20%);
}
.container .card .background {
    background-image: url(../images/bg-pattern-card.svg);
    background-size: cover;
    height: 20vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    z-index: 1;
}
.container .card .about-me {
    position: relative;
    
}
.container .card .image {
   
}
.container .card .about-me img {
    margin-bottom: -50px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    border: 4px solid #fff;
    z-index: 2;
    width: 96px;
    height: 96px;
  
}
h2 {
    color: var(--very-dark);
}
p {
    color: var(--grayish-blue);
}
h2 span {
    color: var(--grayish-blue);
    font-weight: normal;
}
.container .statistics {
    display: flex;
    justify-content: space-evenly;
}
.container .attribution {
    position: relative;
    z-index: 99;
}
.container .attribution p {
    font-size: 20px ;
    color: var(--very-dark);
    font-family: inherit;
    
}
@media only screen and (max-width:375px) {
 .container .card {
     margin: 0 auto;
     width: 310px;
 }
 .container .attribution {
     text-align: center;
     
     
 }
 .container .attribution p {
     font-size: 18px;
 }
}